<?xml version="1.0"?>
<config>
    <modules>
        <Epaysimple_Payment>
            <version>1.0.0</version>
        </Epaysimple_Payment>
    </modules>
    <frontend>
        <routers>
            <epaysimple>
                <use>standard</use>
                <args>
                    <module>Epaysimple_Payment</module>
                    <frontName>eps</frontName>
                </args>
            </epaysimple>
            <krungsri>
                <use>standard</use>
                <args>
                    <module>Epaysimple_Payment</module>
                    <frontName>krungsri</frontName>
                </args>
            </krungsri>
            <scb>
                <use>standard</use>
                <args>
                    <module>Epaysimple_Payment</module>
                    <frontName>scb</frontName>
                </args>
            </scb>
        </routers>
        <layout>
            <updates>
                <epaysimple>
                    <file>eps_payment.xml</file>
                </epaysimple>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <epaysimple after="Mage_Adminhtml">Epaysimple_Payment</epaysimple>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <epay_bank>
                    <to_order_payment>*</to_order_payment>
                </epay_bank>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <eps_payment>
                <class>Epaysimple_Payment_Model</class>
                <resourceModel>eps_payment_mysql4</resourceModel>
            </eps_payment>
            <eps_payment_mysql4>
                <class>Epaysimple_Payment_Model_Mysql4</class>
                <entities>
                    <eps_payment>
                        <table>eps_payment</table>
                    </eps_payment>
                </entities>
            </eps_payment_mysql4>
        </models>
        <resources>
            <eps_payment_setup>
                <setup>
                    <module>Epaysimple_Payment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eps_payment_setup>
            <eps_payment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eps_payment_write>
            <eps_payment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eps_payment_read>
        </resources>
        <blocks>
            <eps_payment>
                <class>Epaysimple_Payment_Block</class>
            </eps_payment>
        </blocks>
        <helpers>
            <eps_payment>
                <class>Epaysimple_Payment_Helper</class>
            </eps_payment>
        </helpers>
    </global>
    <default>
        <payment>
            <eps_cc>
                <active>0</active>
                <model>eps_payment/epsMethod</model>
                <order_status>processing</order_status>
                <payment_action>sale</payment_action>
                <title>E-Payment Gateway</title>
                <cctypes></cctypes>
                <mode>1</mode>
            </eps_cc>
        </payment>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Epaysimple_Payment/>
            </modules>
        </suite>
    </phpunit>
</config>